.produto-info{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.produto-info h1{
    font-size: 32px;
}

.produto-info p{
    color: #666;
    line-height: 24px;
    margin: 5px; 
}

.produto-form{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.row-buttons{
    padding: 10px;
}

